.label{
    font-size:20px;
    color:mediumblue

}
.input{
    border: gainsboro 1px solid;
    font-size: 20px;
    margin:5px;
    width:60%;
}
.submit{
    font-size: 20px;
    background-color:lightgreen;
border-radius: 5px
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  p{
      width:60%;
      margin:0;
  }
.title{
      border:10px;
      color:#00d8ff;
      font-size:35px;
      
  }
  .logo{
      margin: 0 150px 5px 0
  }

  .form1{
      margin:70px 0 0 15px;
      border:4px black solid;
      height:220px;
      width:500px;
     
  }
  .form1 input {
    display: block;
    block-size: 40px;
    width: 90%;
    margin:0 10px 5px 10px ;
    font-size: 20px;
  }
  .form1 label{
      
      font-size: 20px;
       margin:5px;
  }

  button{
    margin: 0 10px 0 10px;
       height:30px;
    width:70px;
    font-size: 15px
  }